
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/chat.css" rel="stylesheet">
<script src="/Plugin/ckeditor/ckeditor.js"></script>
<div class="container">
    <div class="col-md-4">
          <div class="col-md-12 bg-white listMember">
                <div class="row border-bottom padding-sm memberTitle">
                    Đang Online
                </div>
                <ul class="friend-list" id="ListMember">
                  
                </ul>
            </div>
    </div>
    <div class="col-md-8">
        <div class="panel">
    		<div id="demo-chat-body" class="collapse in">
    			<div class="nano has-scrollbar" style="height:450px">
    				<div class="nano-content pad-all" tabindex="0" style="right: -17px;">
    					<ul class="list-unstyled media-block" id="lstMessage">
    			
    					</ul>
    				</div>
    			<div class="nano-pane"><div class="nano-slider" style="height: 141px; transform: translate(0px, 0px);"></div></div></div>
    			<div class="panel-footer">
    				<div class="row">
    					<div class="col-md-10">
    						<textarea type="text" placeholder="Nội Dung Chat" id="MessageContent" name="MessageContent" class="form-control chat-input"></textarea>
    					</div>
    					<div class="col-xs-2">
    						<button class="btn btn-primary btn-block" onclick="SendMessage()" type="button">Gửi</button>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
<script src="/js/app.js"></script>
<script>
    	CKEDITOR.replace('');
</script>